{% extends "base.html" %} {% block title %} Gpt App Sessions {% endblock %} {%
block body %}
<div class="container-xl">
  <h1 class="app-page-title" id="page-title"></h1>
  <div class="row gy-4">
    <div class="">
      <div
        class="app-card app-card-account shadow-sm d-flex flex-column align-items-start"
      >
        <div class="app-card-header p-3 border-bottom-0">
          <div class="row align-items-center gx-3">
            <div class="col-auto">
              <h4 class="app-card-title">GPT Details</h4>
            </div>
          </div>
        </div>
        <div class="app-card-body px-4 w-100" id="main-div">
          <div class="item border-bottom py-3">
            <div class="row justify-content-between align-items-center">
              <div class="col-auto">
                <div class="item-label"><strong>GPT Name</strong></div>
                <div class="item-data" id="gpt-name"></div>
              </div>
            </div>
          </div>

          <div class="item border-bottom py-3">
            <div class="row justify-content-between align-items-center">
              <div class="col-auto">
                <div class="item-label"><strong>GPT URL</strong></div>
                <div class="item-data" id="gpt-url"></div>
              </div>
            </div>
          </div>

          <div class="item border-bottom py-3">
            <div class="row justify-content-between align-items-center">
              <div class="col-auto">
                <div class="item-label">
                  <strong>Verification Medium</strong>
                </div>
                <div class="item-data" id="verification-medium"></div>
              </div>
            </div>
          </div>

          <div class="item border-bottom py-3">
            <div class="row justify-content-between align-items-center">
              <div class="col-auto">
                <div class="item-label"><strong>GPT Description</strong></div>
                <div class="item-data" id="gpt-description"></div>
              </div>
            </div>
          </div>

          <div class="item border-bottom py-3">
            <div class="row justify-content-between align-items-center">
              <div class="col-auto">
                <div class="item-label"><strong>UUID</strong></div>
                <div class="item-data" id="uuid"></div>
              </div>
            </div>
          </div>

          <div class="item border-bottom py-3">
            <div class="row justify-content-between align-items-center">
              <div class="col-auto">
                <div class="item-label">
                  <strong>Privacy Policy URL</strong>
                </div>
                <div class="item-data" id="privacy-policy-url"></div>
              </div>
            </div>
          </div>

          <div class="item border-bottom py-3">
            <div class="row justify-content-between align-items-center">
              <div class="col-auto">
                <div class="item-label"><strong>Prompt</strong></div>
                <div class="item-data" id="prompt"></div>
              </div>
            </div>
          </div>

          <div class="item border-bottom py-3">
            <div class="row justify-content-between align-items-center">
              <div class="col-auto">
                <div class="item-label"><strong>Action Schema URL</strong></div>
                <div class="item-data" id="action-schema-url"></div>
              </div>
            </div>
          </div>

          <div class="item border-bottom py-3">
            <div class="row justify-content-between align-items-center">
              <div class="col-auto">
                <div class="item-label"><strong>Created</strong></div>
                <div class="item-data" id="created-at"></div>
              </div>
            </div>
          </div>

          <div class="item border-bottom py-3">
            <div class="row justify-content-between align-items-center">
              <div class="col-auto">
                <div class="item-label"><strong>Client ID</strong></div>
                <div class="item-data" id="client-id"></div>
              </div>
            </div>
          </div>

          <div class="item border-bottom py-3">
            <div class="row justify-content-between align-items-center">
              <div class="col-auto">
                <div class="item-label">
                  <strong>Client Secret</strong>
                  <div class="item-data" id="client-secret"></div>
                </div>
              </div>
            </div>

            <div class="item border-bottom py-3">
              <div class="row justify-content-between align-items-center">
                <div class="col-auto">
                  <div class="item-label">
                    <strong>Authorization URL</strong>
                  </div>
                  <div class="item-data" id="authorization-url"></div>
                </div>
              </div>
            </div>

            <div class="item border-bottom py-3">
              <div class="row justify-content-between align-items-center">
                <div class="col-auto">
                  <div class="item-label"><strong>Token URL</strong></div>
                  <div class="item-data" id="token-url"></div>
                </div>
              </div>
            </div>

            <div class="item border-bottom py-3">
              <div class="row justify-content-between align-items-center">
                <div class="col-auto">
                  <div class="item-label"><strong>Scope</strong></div>
                  <div class="item-data" id="scope"></div>
                </div>
              </div>
            </div>

            <div class="item border-bottom py-3">
              <div class="row justify-content-between align-items-center">
                <div class="col-auto">
                  <div class="item-label">
                    <strong>Authentication Type</strong>
                  </div>
                  <div class="item-data" id="authentication-type"></div>
                </div>
              </div>
            </div>

            <div class="item border-bottom py-3">
              <div class="row justify-content-between align-items-center">
                <div class="col-auto">
                  <div class="item-label">
                    <strong>Token Exchange Method</strong>
                  </div>
                  <div class="item-data" id="token-exchange-method"></div>
                </div>
              </div>
            </div>

            <div class="app-card-footer p-4 mt-auto">
              <a class="btn app-btn-secondary" id="app-sessions-link" href="#"
                >View App Sessions</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="{{ url_for('static', path = 'assets/js/gpt-detail.js') }}"></script>
    <script
      type="text/JavaScript"
      src="https://MomentJS.com/downloads/moment.js"
    ></script>
    {% endblock %}
  </div>
</div>
