{% extends "base.html" %} {% block title %} Gpt App Sessions {% endblock %} {%
block body %}
<div class="container-xl">
  <h1 class="app-page-title">Random GPT Name</h1>
  <div class="row gy-4">
    <div class="col-12 col-lg-6">
      <div
        class="app-card app-card-account shadow-sm d-flex flex-column align-items-start"
      >
        <div class="app-card-header p-3 border-bottom-0">
          <div class="row align-items-center gx-3">
            <div class="col-auto">
              <h4 class="app-card-title">GPT Details</h4>
            </div>
          </div>
        </div>
        <div class="app-card-body px-4 w-100">
          <div class="item border-bottom py-3">
            <div class="row justify-content-between align-items-center">
              <div class="col-auto">
                <div class="item-label"><strong>GPT Name</strong></div>
                <div class="item-data">James Doe</div>
              </div>
            </div>
          </div>
          <div class="item border-bottom py-3">
            <div class="row justify-content-between align-items-center">
              <div class="col-auto">
                <div class="item-label"><strong>GPT Description</strong></div>
                <div class="item-data">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas
                  totam placeat eaque, ea debitis accusantium cum doloremque
                  perferendis ullam atque! Provident eius consectetur ea tenetur
                  quod possimus commodi cupiditate veniam!
                </div>
              </div>
            </div>
          </div>
          <div class="item border-bottom py-3">
            <div class="row justify-content-between align-items-center">
              <div class="col-auto">
                <div class="item-label"><strong>GPT URL</strong></div>
                <div class="item-data">https://johndoewebsite.com</div>
              </div>
            </div>
          </div>
          <div class="item border-bottom py-3">
            <div class="row justify-content-between align-items-center">
              <div class="col-auto">
                <div class="item-label"><strong>Token Expiry</strong></div>
                <div class="item-data">P5D</div>
              </div>
            </div>
          </div>
          <div class="item border-bottom py-3">
            <div class="row justify-content-between align-items-center">
              <div class="col-auto">
                <div class="item-label"><strong>Created At</strong></div>
                <div class="item-data">2024-01-07T12:37:39.093158Z</div>
              </div>
            </div>
          </div>
          <div class="item border-bottom py-3">
            <div class="row justify-content-between align-items-center">
              <div class="col-auto">
                <div class="item-label"><strong>Updated At</strong></div>
                <div class="item-data">2024-01-07T12:37:39.093158Z</div>
              </div>
            </div>
          </div>
          <div class="item border-bottom py-3">
            <div class="row justify-content-between align-items-center">
              <div class="col-auto">
                <div class="item-label"><strong>Client Id</strong></div>
                <div class="item-data">
                  44c60c84-a8cc-49c1-8a71-521b69c5d7be
                </div>
              </div>
            </div>
          </div>
          <div class="item border-bottom py-3">
            <div class="row justify-content-between align-items-center">
              <div class="col-auto">
                <div class="item-label"><strong>Client Secret</strong></div>
                <div class="item-data">
                  b270810e-5dac-493a-bd3b-f2125ee8e089
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="app-card-footer p-4 mt-auto">
          <a class="btn app-btn-secondary" href="#">Manage Profile</a>
        </div>
      </div>
    </div>
  </div>
</div>

<script
  type="module"
  src="{{ url_for('static', path = '/assets/js/gpt-app-sessions.js') }}"
></script>
<script
  type="text/JavaScript"
  src="https://MomentJS.com/downloads/moment.js"
></script>
{% endblock %}
