{% extends "base.html" %} {% block title %} Home {% endblock %} {% block body %}
<div class="container">
  <div class="text-center">
    <h1 class="mt-5" id="welcome-h1">Welcome,</h1>
  </div>

  <br />
  <br />
  <section id="user-actions-section">
    <div class="text-center">
      <button
        class="btn app-btn-primary mx-auto d-block"
        onclick="redirectToGPTApplication()"
      >
        Register a New Custom GPT
      </button>
    </div>
  </section>
</div>

<div class="app-content pt-3 p-md-3 p-lg-4">
  <div class="container-xl">
    <div class="row g-3 mb-4 align-items-center justify-content-between">
      <div class="col-auto">
        <h1 class="app-page-title mb-0">List of Registered Custom GPTs</h1>
      </div>
    </div>

    <div class="row g-4"></div>
  </div>
</div>

<script>
  function redirectToGPTApplication() {
    window.location.href = "/custom-gpt-application";
  }
</script>
<script
  type="module"
  src="{{ url_for('static', path = '/assets/js/home.js') }}"
></script>
{% endblock %}
