{% extends "base.html" %} {% block title %} Gpt App Sessions {% endblock %} {%
block body %}

<div class="app app-login p-0">
  <div class="row g-0 app-auth-wrapper">
    <div class="col-12 col-md-7 col-lg-6 auth-main-col text-center p-5">
      <div class="d-flex flex-column align-content-end">
        <div class="app-auth-body mx-auto">
          <div class="app-auth-branding mb-4">
            <a class="app-logo" href="index.html">
              <img
                class="logo-icon me-2"
                src="static/assets/images/app-logo.svg"
                alt="logo"
              />
            </a>
          </div>
          <h2 class="auth-heading text-center mb-5">Log in to gateGPT</h2>
          <div class="auth-form-container text-start">
            <form class="auth-form login-form">
              <div class="text-center">
                <button
                  type="submit"
                  class="btn app-btn-primary w-100 theme-btn mx-auto"
                  onclick="login()"
                >
                  Log In
                </button>
              </div>
            </form>
          </div>
        </div>

        <footer class="app-auth-footer">
          <div class="container text-center py-3">
            <small class="copyright">
              Designed with <span class="sr-only">love</span>
              <i class="fas fa-heart" style="color: #fb866a"></i> by
              <a
                class="app-link"
                href="http://themes.3rdwavemedia.com"
                target="_blank"
                >Xiaoying Riley</a
              >
              for developers
            </small>
          </div>
        </footer>
        <!--//app-auth-footer-->
      </div>
      <!--//flex-column-->
    </div>
    <!--//auth-main-col-->
    <div class="col-12 col-md-5 col-lg-6 h-100 auth-background-col">
      <div class="auth-background-holder"></div>
      <div class="auth-background-mask"></div>
      <div class="auth-background-overlay p-3 p-lg-5">
        <div class="d-flex flex-column align-content-end h-100">
          <div class="h-100"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function login() {
    event.preventDefault();
    var form = document.createElement("form");
    form.method = "POST";
    form.action = "/login";
    document.body.appendChild(form);
    form.submit();
  }
</script>

{% endblock %}
