{% extends "base.html" %} {% block title %} Gpt App Sessions {% endblock %} {%
block body %}
<div class="app-content pt-3 p-md-3 p-lg-4">
  <div class="container-xl">
    <h1 class="app-page-title">Create A new GPT app</h1>
    <hr class="mb-4" />
    <div class="row g-4 settings-section">
      <div class="col-12 col-md-4">
        <h3 class="section-title">General</h3>
        <div class="section-intro"></div>
      </div>
      <div class="col-12 col-md-8">
        <div class="app-card app-card-settings shadow-sm p-4">
          <div class="app-card-body">
            <form class="settings-form">
              <div class="mb-3">
                <label for="setting-input-1" class="form-label">GPT Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="gpt-name"
                  required
                />
              </div>
              <div class="mb-3">GPT description</div>
              <textarea
                class="form-control"
                id="gpt-description"
                rows="3"
              ></textarea>
              <div class="mb-3">GPT URL</div>
              <input type="url" class="form-control" id="gpt-url" required />
              <div class="mb-3">
                <label for="verification_medium" class="form-label"
                  >Verification Medium:</label
                >
                <select
                  class="form-select"
                  id="verification_medium"
                  name="verification_medium"
                  required
                >
                  <option value="google">Google</option>
                  <option value="email">Email</option>
                  <option value="phone">Phone</option>
                </select>
              </div>
              <button type="submit" class="btn app-btn-primary">
                Save Changes
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <hr class="my-4" />
  </div>
</div>
{% endblock %}
